@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--very-dk-blue);
  background-color: var(--white);
  text-align: center;
}