:root {
  --white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

  --very-dk-blue: hsl(243, 87%, 12%);
  --very-dk-blue-opac: hsl(243, 87%, 12%, .6);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --lt-grayish-blue: hsl(240, 75%, 98%);
  --lt-gray: hsl(0, 0%, 75%);
}