@use '../util' as *;

//row 1
.fylo {
  margin-bottom: rem(70);

  &__illustration {
    width: 100%;
  }

  &__header {
    margin-bottom: rem(45);
    font-size: rem(35);

    @include breakpoint(medium) {
      margin-bottom: rem(28);
      font-size: rem(30);
      text-align: left;
    }
  }

  &__content {
    margin-bottom: rem(35);
    line-height: 1.5;

    @include breakpoint(medium) {
      text-align: left;
      font-size: 1rem;
    }
  }

  &-form {
    gap: rem(15);

    @include breakpoint(medium) {
      flex-direction: row;
      width: 90%;
    }

    &__label {
      display: none;
    }

    &__email {
      padding: rem(10) rem(20);
      width: 100%;
    }

    &__submit {
      width: 100%;
      padding: rem(10) 0;
      color: var(--white);
      background-color: var(--bright-blue);
      font-family: var(--font-headings);
      font-size: rem(18);
      font-weight: bold;
      border: none;
      border-radius: rem(5);
      transition: opacity 200ms ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }
}

//row 2
.prod-bg {
  background-image: url('../images/bg-curve-mobile.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 500% 100%;
  
  @include breakpoint(medium) {
    background-image: url('../images/bg-curve-desktop.svg');
    background-position: top;
    background-repeat: repeat-y;
    background-size: 450% 100%;
  }
}

.productivity {
  padding-top: rem(100);
  padding-bottom: rem(70);
  text-align: justify;

  &__img {
    width: 100%;
  }

  &__header {
    @include breakpoint-down(medium) {
      text-align: center;
    }
  }

  &-link {
    height: rem(100);

    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }

  &__link {
    border-bottom: 2px solid;
    font-size: rem(14);
    color: var(--moderate-cyan);
  }

  &-card {
    max-width: rem(350);
    margin: 0 auto;
    padding: rem(30);
    font-size: rem(14);
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);

    p {
      margin-top: 0;
      margin-bottom: rem(20);
      line-height: 1.5;
    }

    &-username {
      gap: rem(10);
      font-size: rem(10);

      img {
        width: rem(50);
        border-radius: 50%;
      }
      span {
        font-weight: bold;
        font-size: rem(14);
      }
    }

    @include breakpoint(large) {
      margin: 0;
    }
  }
}